<h1>Listing myths</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Charactors</th>
    <th>Description</th>
    <th>Is approved</th>
    <th>Is cannon</th>
    <th>Up vote</th>
    <th>Universe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @myths.each do |myth| %>
  <tr>
    <td><%= myth.title %></td>
    <td><%= myth.author %></td>
    <td><%= myth.charactors %></td>
    <td><%= myth.description %></td>
    <td><%= myth.is_approved %></td>
    <td><%= myth.is_cannon %></td>
    <td><%= myth.up_vote %></td>
    <td><%= myth.universe.title %></td>
    <td><%= link_to 'Show', [myth.universe, myth] %></td>
    <td><%= link_to 'Edit', edit_universe_myth_path(myth.universe, myth) %></td>
    <td><%= link_to 'Destroy', [myth.universe, myth], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Myth', new_universe_myth_path(params[:universe_id]) %>
