<p id="notice"><%= notice %>

    <div class="container">
        <div class="card">
            <div class="card-content">
              <div class="card-content__title"><%= @myth.universe.title %></div>
                <div class="card-content__title"><%= @myth.title %></div>
                <div class="card-content__item">By: <%= @myth.author %></div>
                <div class="card-content__item">Charactors: <%= @myth.charactors %></div>
                <div class="card-content__checkbox">Cannon: <%= @myth.is_cannon %></div>
                <div class="card-content__checkbox">Votes: <%= @myth.up_vote %></div>
                <div class="card-content__text"><%= @myth.description %></div>
                <!-- <div class="card-content__checkbox"><%= @myth.is_approved %></div> -->
                <div class="button-box">
                    <%= link_to 'Edit Again', edit_universe_myth_path(@myth.universe, @myth), class:'new-link' %>
                    <%= link_to 'Back', universe_myths_path(@myth.universe), class:'new-link' %>
                </div>
            </div>
        </div>
    </div>
