<!DOCTYPE html>
<html>
  <head>
    <title>Expanded Mythos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>

  <body>

    <div class="nav">
      <div class="container">
        <div class="nav-content">
          <%= link_to 'MYTHOS', root_path %>
          <!-- <%= link_to 'Browse', universes_path %> -->
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
