<p id="notice"><%= notice %></p>

<h1>Mythos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Discription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mythos.each do |mytho| %>
      <tr>
        <td><%= mytho.title %></td>
        <td><%= mytho.discription %></td>
        <td><%= link_to 'Show', mytho %></td>
        <td><%= link_to 'Edit', edit_mytho_path(mytho) %></td>
        <td><%= link_to 'Destroy', mytho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mytho', new_mytho_path %>
