<div class="hero-hero">
    <h1 class="title-right">The Heroes of
        <%= @universe.title %></h1>
</div>

<section class="about">
    <div class="container">
        <div class="about-content">
            <h1 class="about-content__title">Heroes</h1>
            <div class="about-content__description">Here you can create new Heroes in your chosen Universe. Scroll down and see what other heroes are here.
            </div>
            <div class="button-box">
                <div class="new-link"><%= link_to 'Create New Heroes', new_universe_hero_path(params[:universe_id]) %></div>
                <div class="new-link"><%= link_to 'Back to Universe Page', universe_path(params[:universe_id]) %></div>
            </div>

        </div>
    </div>
</section>

<div class="hero-hero2">
    <h1 class="title-right">Existing Heroes</h1>
</div>

<div class="container">
  <% @heros.each do |hero| %>

    <div class="card">
        <div class="card-content">
            <div class="card-content__title"><%= hero.name %></div>
            <div class="card-content__item">Parents: <%= hero.parent %></div>
            <div class="card-content__item">Children: <%= hero.child %></div>
            <!-- <div class="card-content__item"><%= hero.is_approved %></div> -->
            <div class="card-content__item">Cannon: <%= hero.is_cannon %></div>
            <div class="card-content__item">Vote: <%= hero.up_vote %></div>
            <div class="card-content__item">Universe: <%= hero.universe.title %></div>
            <div class="card-content__text"><%= hero.description %></div>
            <div class="button-box">
              <div class="new-link"><%= link_to 'Edit', edit_universe_hero_path(hero.universe, hero) %></div>
              <div class="new-link"><%= link_to 'Destroy', [hero.universe, hero], :confirm => 'Are you sure?', :method => :delete %></div>
            </div>
        </div>
    </div>

  <% end %>
</div>
