<div class="hero-hero">
  <h1 class="title-right">The Heroes of <%= @universe.title %></h1>
</div>


<section class="about">
    <div class="container">
        <div class="about-content">
            <h1 class="about-content__title">Heroes</h1>
            <div class="about-content__description">Here you can create new Heroes in your chosen Universe. Scroll down and see what other heroes are here.
            </div>
            <div class="button-box">
              <div class="new-link"><%= link_to 'New Hero', new_universe_hero_path(params[:universe_id]) %></div>
              <div class="new-link"><%= link_to 'Back to Universe Page', universe_path(params[:universe_id]) %></div>
            </div>

        </div>
    </div>
</section>

<% @heros.each do |hero| %>

    <div><%= hero.name %></div>
    <div><%= hero.parent %></div>
    <div><%= hero.child %></div>
    <div><%= hero.description %></div>
    <div><%= hero.is_approved %></div>
    <div><%= hero.is_cannon %></div>
    <div><%= hero.up_vote %></div>
    <div><%= hero.universe.title %></div>
    <div><%= link_to 'Show', [hero.universe, hero] %></div>
    <div><%= link_to 'Edit', edit_universe_hero_path(hero.universe, hero) %></div>
    <div><%= link_to 'Destroy', [hero.universe, hero], :confirm => 'Are you sure?', :method => :delete %></div>

<% end %>
