<p id="notice"><%= notice %></p>

<div class="container">
    <div class="card">
        <div class="card-content">

            <div class="card-content__title"><%= @hero.universe.title %></div>
            <div class="card-content__title"><%= @hero.name %></div>
            <div class="card-content__item">Parents: <%= @hero.parent %></div>
            <div class="card-content__item">Children: <%= @hero.child %></div>
            <!-- <div class="card-content__checkbox"><%= @hero.is_approved %></div> -->
            <div class="card-content__checkbox">CAnnon: <%= @hero.is_cannon %></div>
            <div class="card-content__checkbox">Votes: <%= @hero.up_vote %></div>
            <div class="card-content__text"><%= @hero.description %></div>

            <div class="button-box">
                <%= link_to 'Edit', edit_universe_hero_path(@hero.universe, @hero), class:'new-link' %>
                <%= link_to 'Back', universe_heros_path(@hero.universe), class:'new-link' %>
            </div>
        </div>
    </div>
</div>
