<%= form_for([@demi_god.universe, @demi_god]) do |f| %>
  <% if @demi_god.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demi_god.errors.count, "error") %> prohibited this demi_god from being saved:</h2>

      <ul>
      <% @demi_god.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </div>
  <div class="field">
    <%= f.label :child %><br />
    <%= f.text_field :child %>
  </div>
  <!-- <div class="field">
    <%= f.label :attributes %><br />
    <%= f.text_area :attributes %>
  </div> -->
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :is_approved %><br />
    <%= f.check_box :is_approved %>
  </div>
  <div class="field">
    <%= f.label :is_cannon %><br />
    <%= f.check_box :is_cannon %>
  </div>
  <div class="field">
    <%= f.label :up_vote %><br />
    <%= f.number_field :up_vote %>
  </div>
  <!-- <div class="field">
    <%= f.label :universe %><br />
    <%= f.text_field :universe %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
